body {
  background-image: url('connect4kids.jpeg');
  background-size: cover;
}

.grid {
  border: 1px solid;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(6, auto);
  height: 284px;
  width: fit-content;
  background-color: white;
  margin: 2em auto;
  grid-gap: 0.5em;
  padding: 0.5em;
  box-shadow: grey 0px 5px 5px,
    grey 0px -5px 5px,
    grey -5px 0 5px,
    grey 5px 0 5px;
}

.grid div {
  height: 40px;
  width: 40px;
}

.grid div:hover {
  background-color: lightgrey;
}

.grid div .taken:hover {
  background-color: inherit;
}


h1, h3, .victory {
  background: linear-gradient(45deg, whitesmoke, lightblue, whitesmoke);
  width: fit-content;
  margin: 0.5em auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: grey 0px 2px 5px,
    grey 0px -2px 5px;
  padding: 0.5em;
  font-variant: small-caps;
  text-align: center;
}

h1 {
  font-size: 3.5em;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
}

.hide {
  display: none;
}

#current-player {
  padding: 0 5px;
}

.player-one {
  background-color: red;
  border-radius: 20px;
}

.player-two {
  background-color: blue;
  border-radius: 20px;
}

.taken, .chosen {
  cursor: default;
  pointer-events: none;
}

.victory {
  color: goldenrod;
  font-size: 2em;
  width: fit-content;
}
